# Editor configurations
.vs/
.idea/

# Environment files
bin/
obj/
*.user
*.suo

# User files
.env*
!.env*.template

# Project files
*.db*

# Miscellaneous files
.DS_Store
Desktop.ini
Thumbs.db
!.gitkeep
