# Editor configurations
.vs/
.idea/
*.iml
*.user
*.suo

# Build files
bin/
obj/
packages/

# User files
.env*
!.env*.template

# Docker-specific rules
.git/
.gitignore
Dockerfile

# Miscellaneous files
.tmp/
.DS_Store
Desktop.ini
Thumbs.db
!.gitkeep
