APP_URL=""
DATABASE_URL="postgresql://printly:printly@localhost:5432/main"
ELEVENLABS_AGENT_ID=""
ELEVENLABS_API_KEY=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
LIVEKIT_API_KEY=""
LIVEKIT_API_SECRET=""
LIVEKIT_URL=""
OPENROUTER_API_KEY=""
OPENROUTER_IMAGE_MODEL=""
OPENROUTER_MODEL=""
OPENROUTER_REFERER=""
OPENROUTER_TITLE=""
RESEND_API_KEY=""
RESEND_FROM_EMAIL=""
SECRET_KEY=""
