# IDE configurations
.vs/
.idea/

# Output files
bin/
obj/

# User-specific files
.env*
!.env*.template
*.user
*.suo

# Project-specific files
*.db*

# Miscellaneous files
.DS_Store
Desktop.ini
Thumbs.db