AWS_ACCESS_KEY_ID="printly"
AWS_ENDPOINT_URL_S3="http://localhost:9000"
AWS_REGION="us-east-2"
AWS_SECRET_ACCESS_KEY="printly"
SECRET_KEY=""
APP_URL=""
DATABASE_URL=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
LIVEKIT_URL=""
LIVEKIT_API_KEY=""
LIVEKIT_API_SECRET=""
OPENROUTER_API_KEY=""
OPENROUTER_TITLE=""
OPENROUTER_REFERER=""
OPENROUTER_MODEL=""
OPENROUTER_IMAGE_MODEL=""
ELEVENLABS_API_KEY=""
ELEVENLABS_AGENT_ID=""
RESEND_API_KEY=""
RESEND_FROM_EMAIL=""
