# Editor configurations
.vs/
.idea/

# Build files
.tanstack/
.wrangler/
node_modules/
dist/
build/
out/
*.tsbuildinfo
*.d.ts

# User files
.env*
!.env*.template

# Project-specific rules
/src/routeTree.gen.ts

# Miscellaneous files
.tmp/
.DS_Store
Desktop.ini
Thumbs.db
!.gitkeep
