# Editor configurations
.vs/
.idea/

# Environment files
.vercel/
.next/
.open-next/
.wrangler/
node_modules/
*.d*

# User files
.env*
!.env*.template

# Miscellaneous files
.DS_Store
Desktop.ini
Thumbs.db
!.gitkeep
