# Editor configurations
.vs/
.idea/

# Environment files
.next/
.open-next/
.wrangler/
node_modules/
dist/
build/
*.d*
*.tsbuildinfo

# User files
.env*
!.env*.template

# Miscellaneous files
.DS_Store
Desktop.ini
Thumbs.db
!.gitkeep
